<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>cn</string>
	<key>CFBundleDisplayName</key>
	<string>DeeDao地到</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx72955abeea4e44e2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>qqmap</string>
		<string>iosamap</string>
		<string>baidumap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>允许访问摄像头以录制视频</string>
	<key>NSContactsUsageDescription</key>
	<string>是否允许访问通讯录，以匹配认识的好友</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>允许开启定位，以获取您的发帖位置和您附近的帖子信息</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>允许开启定位，以获取您的发帖位置和您附近的帖子信息</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>允许开启定位，以获取您的发帖位置和您附近的帖子信息</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>允许访问麦克风以录制声音</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>允许访问相册以获取您相册中的照片</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
